node_modules
.git
.gitignore
docker-compose*.yml
.dockerfile
.env.local
.env.*.local
.next/cache
.next/build-manifest.json
coverage
__tests__
tests
.vscode
.idea
*.log
.DS_Store
.turbo
.eslintcache
.prettierignore
README.md
CHANGELOG.md
LICENSE
